# Entornos virtuales
venv/
ENV/
env/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Cache de pytest
.pytest_cache/

# Archivos de cobertura
.coverage
htmlcov/

# Archivos temporales
*.log
*.tmp

# Configuración de editores
.vscode/
.idea/
